*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    color: grey;
}


/* HEADER */
header{
    height: 50px;
    padding: 1rem 1.4rem;
    background-color: white;
    box-sizing: content-box;
}

.page-title{
    display: inline-block;
    line-height: 50px;
    vertical-align: top;
}
/* /HEADER */

/* MAIN */
main.container{
    margin: 10px 50px 0 50px;
    padding: 1rem;
    background-color: white;
}
.buttons{
    margin: 15px 40px ;
}

.button{
    padding: 0.3rem 0.8rem;
    border-radius: 0.4rem;
}
.blue{
    color: white;
    background-color: rgb(58, 156, 237);
    border: 0.5px solid rgb(58, 156, 237);
}
.grey{
    color: grey;
    background-color: white;
    border: 0.1px solid grey;
}
.u-list{
    list-style-type:none;
}
.done{
    color: green;
}
.undone{
    color: red;
}
/* /MAIN */

